<header>
    <nav>
        <a href="/">Carbook</a>
        <ul>
            <li><a href="/drivers">All Drivers</a></li>
            <li><a href="/drivers/new">Add New Driver</a></li>
        </ul>
    </nav>
</header>