


        <div class="row">
            <!-- Cards Icons Row -->
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>3 of 5</h3>
                        <p>Available Cars</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-model-s"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>2 of 4<sup style="font-size: 20px"></sup></h3>
                        <p>Available Drivers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-contact"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>2</h3>
                        <p>Ongoing Trips</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>7</h3>
                        <p>Scheduled Trips</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-calendar"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Latest Trips -->
        <section class="content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Latest Trips Added</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Add Content Here...
                </div>
            </div>
        </section>

        <!-- Latest Cars -->
        <section class="content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Latest Cars Added</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Add Content Here...
                </div>
            </div>
        </section>

        <!-- Latest Driver -->
        <section class="content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Latest Drivers Added</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Add Content Here...
                </div>
            </div>
        </section>